<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout2</title>
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="stylesheet" href="../arkanoid/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body onload="init()">
    <header class="container">
        <div>
            <a href="#"><img src="../media/logo.jpg" alt="logo" width="42" height="42" class="logo"></a>
        </div>
        <nav class="navEnlaces">
            <button><a href="../index.html">Inicio</a></button>
            <button><a href="./cv.html">Curriculim</a></button>
            <button><a href="./proyectos.html">Proyectos</a></button>
            <button><a href="./contacto.html">Contacto</a></button>
        </nav>
    </header>
    <main>
        <section id="arkanoid">
            
            <!-- Customizador -->
            <span id="texto_jquery"></span>

            <div id="contenidoArkanoid">
                <canvas id="canvas" width="500" height="500" style="border:1px solid;"></canvas>
                <br>
                <form>
                    <input type="submit" onclick="startdraw(); return false;" value="start">
                    <input type="submit" onclick="abort(); return false;" value="clear">
                </form>

                <!-- <div>
                    <span>Disparos:</span>
                    <span id="contDisparo">10</span>
                </div>
                <div>
                    <span>Puntuación:</span>
                    <span id="puntuacion">0</span>
                </div>
                <div>
                    <span>Vidas:</span>
                    <span id="vidas">5</span>
                </div> -->

                <table id="tablaInfo">
                    <tr>
                        <td id="tablaIzq" class="texto-encima"><span>Disparos:</span></td>
                        <td><span id="contDisparo" class="texto-encima">10</span></td>
                    </tr>
                    <tr>
                        <td id="tablaDch" class="texto-encima"><span>Puntuación:</span></td>
                        <td><span id="puntuacion" class="texto-encima">0</span></td>
                    </tr>
                    <tr>
                        <td id="tablaDch" class="texto-encima"><span>Vidas:</span></td>
                        <td><span id="vidas" class="texto-encima">5</span></td>
                    </tr>
                </table>
                <div id="imgVidas">
                    <!-- Imágenes de las vidas -->
                </div>
            </div>
        </section>
        <aside>
            <div>
                <div id="customizar">
                    <span>Customizar y Accesible</span>
                </div>

                <div id="customizar_desplegado">
                    <label for="estilos">Estilos</label>
                    <select name="estilo" id="estilos">
                        <option value="estilo1">Estilo 1</option>
                        <option value="estilo2">Estilo 2</option>
                        <option value="estilo3">Estilo 3</option>
                    </select>
                    <br>
                    <br>
                    <hr>
                    <br>
                    <span class="titulos_customizar">Accesibilidad</span>
                    <br>
                    <br>
                    <button id="aumentar_letra"> + </button>
                    <span>Letra</span>
                    <button id="reducir_letra"> - </button>
                    <br>
                    <br>
                    <span>Blanco y negro</span>
                    <button id="color_simple_on">ON</button><button id="color_simple_off">OFF</button>
                </div>
            </div>

            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium consequuntur inventore soluta
                excepturi in tenetur necessitatibus. Dolorem sapiente omnis hic modi eaque deserunt impedit laudantium
                ullam? Perspiciatis, fugit. Quo, blanditiis.
            </div>
        </aside>
    </main>
    <footer class="container">
        <div class="navEnlaces">
            <button><a href="../index.html">Inicio</a></button>
            <button><a href="./cv.html">Curriculim</a></button>
            <button><a href="./proyectos.html">Proyectos</a></button>
            <button><a href="./contacto.html">Contacto</a></button>
        </div>
        <div>
            <a href="#"><img src="../media/github.png" alt="logo github" width="42" height="42"></a>
            <a href="#"><img src="../media/instagram.png" alt="logo instagram" width="42" height="42"></a>
            <a href="#"><img src="../media/twitter.png" alt="logo twitter" width="42" height="42"></a>
            <a href="#"><img src="../media/facebook.png" alt="logo facebook" width="42" height="42"></a>
        </div>
    </footer>
    <script type="text/javascript" src="../arkanoid/js/jquery-1.2.6.js"></script>
    <script type="text/javascript" src="../arkanoid/js/appBasic.js"></script>
    <script src="../js/customizador.js"></script>
</body>

</html>