<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout2</title>
    <link rel="stylesheet" href="../css/style2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>

    <header class="container">
        <div>
            <a href="#"><img src="../media/logo.jpg" alt="logo" width="42" height="42" class="logo"></a>
        </div>
        <nav class="navEnlaces">
            <button><a href="../index.html">Inicio</a></button>
            <button><a href="cv.html">Curriculim</a></button>
            <button><a href="proyectos.html">Proyectos</a></button>
            <button><a href="contacto.html">Contacto</a></button>
        </nav>
    </header>
    <main>
        <section id="sectionContacto">
            <!-- Customizador -->
            <span id="texto_jquery"></span>
            
            <form action="resultadosFormulario.html" method="post" id="formulario_contacto">

                <h2 id="contacto">Contacto</h2>

                <div class="container_contacto">
                    <div>
                        <label for="nombre">Nomrbe</label><br><br>
                        <input type="text" name="nombre" id="nombre" required class="expandir">
                    </div>
                    <div>
                        <label for="apellidos">Apellidos</label><br><br>
                        <input type="text" name="apellidos" id="apellidos" class="expandir">
                    </div>
                </div>
                <div class="container_contacto">
                    <div>
                        <label for="telefono">Teléfono</label><br><br>
                        <input type="text" pattern="^\+34\s+[0-9]{3}\s+[0-9]{3}\s+[0-9]{3}$" required
                            placeholder="+34 000 000 000" class="expandir">
                    </div>
                    <div>
                        <label for="correo">Correo Electrónico</label><br><br>
                        <input type="email" name="correo" id="correo" required class="expandir">
                    </div>
                </div>
                <div class="container_contacto">
                    <div>
                        <label for="cp">Código Postal</label><br><br>
                        <input type="tel" name="cp" id="cp" pattern="^[0-9]{5}$" required class="expandir">
                    </div>
                    <div>
                        <label for="ciudad">Ciudad</label><br><br>
                        <input list="ciudades" name="ciudad" id="ciudad" onmouseout="comprobar()" class="expandir">
                        <datalist id="ciudades">
                            <option value="Salamanca">
                            <option value="Ávila">
                            <option value="León">
                            <option value="Zamora">
                        </datalist>
                    </div>
                </div>

                <div class="container_contacto">
                    <div>
                        <label for="url">URL de referencia</label><br><br>
                        <input type="url" name="url" id="url" placeholder="https://www.daw.com" class="expandir">
                    </div>
                </div>

                <div class="container_contacto">
                    <div>
                        <label for="info">Información</label><br><br>
                        <textarea name="info" id="info" cols="60%" rows="5%" maxlength="200a"></textarea>
                        <br><br><br>
                    </div>
                </div>
                <div class="container_contacto">
                    <input type="submit" value="Enviar" name="boton_enviar" class="enviar">
                    <input type="submit" value="Enviar Get" name="boton_enviar" formmethod="get" class="enviar">
                </div>

            </form>
        </section>
        <aside>
            <div>

                <div id="customizar">
                    <span>Customizar y Accesible</span>
                </div>

                <div id="customizar_desplegado">
                    <!-- <span class="titulos_customizar">Skins / Customs</span> -->
                    <!-- <br>
                    <br> -->
                    <label for="estilos">Estilos</label>
                    <select name="estilo" id="estilos">
                        <option value="estilo1">Estilo 1</option>
                        <option value="estilo2">Estilo 2</option>
                        <option value="estilo3">Estilo 3</option>
                    </select>
                    <br>
                    <br>
                    <hr>
                    <br>
                    <span class="titulos_customizar">Accesibilidad</span>
                    <br>
                    <br>
                    <button id="aumentar_letra"> + </button>
                    <span>Letra</span>
                    <button id="reducir_letra"> - </button>
                    <br>
                    <br>
                    <span>Blanco y negro</span>
                    <button id="color_simple_on">ON</button><button id="color_simple_off">OFF</button>
                </div>
            </div>
            <div>
                aside div 2
                <br>
                asdfsdf
                <br>
                asdf
            </div>
        </aside>
    </main>
    <footer class="container">
        <div class="navEnlaces">
            <button><a href="../index.html">Inicio</a></button>
            <button><a href="cv.html">Curriculim</a></button>
            <button><a href="proyectos.html">Proyectos</a></button>
            <button><a href="contacto.html">Contacto</a></button>
        </div>
        <div>
            <a href="#"><img src="../media/github.png" alt="logo github" width="42" height="42"></a>
            <a href="#"><img src="../media/instagram.png" alt="logo instagram" width="42" height="42"></a>
            <a href="#"><img src="../media/twitter.png" alt="logo twitter" width="42" height="42"></a>
            <a href="#"><img src="../media/facebook.png" alt="logo facebook" width="42" height="42"></a>
        </div>
    </footer>

    <script src="../js/app.js"></script>
    <script src="../js/customizador.js"></script>
</body>

</html>